@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Nanum Gothic", sans-seri, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1rem;
}

@media (min-width: 769px) {
  html {
      font-size: 16px;
  }
}

@media ((max-width: 768px) and (min-width: 480px)) {
  html {
      font-size: 14px;
  }
}

@media (max-width: 576px) {
  html {
      font-size: 12px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 
      monospace;
}

